Repository kookmin-sw/capstone-2021-3, pull requests merged in 2021-04, with the labels that each got.

#88 구현: 모든 쓰샘 기기의 리스트 조회 #62
  backend/routes/devices.py
Labels: backend

#89 구현: 기관 관련 API 구현 (/organizations)
  backend/models/team.py
  backend/models/user.py
  backend/routes/organizations.py
Labels: backend

#90 구현: 사용자 근처 쓰샘 리스트 반환 구현
  backend/routes/devices.py
  backend/utils/distance.py
Labels: backend

#76 구현 : 4위 이하 랭크 스크롤로 여러개 보이게 만들기
  app/inobus/assets/test/organizations.json
  app/inobus/lib/main.dart
  app/inobus/lib/page/rank.dart
Labels: app

#79 추가 : 앱 상단 바에 회사 이미지 로고 추가
  app/inobus/lib/frame/home.dart
Labels: app

#93 문서: 중간발표자료 업로드, 아이디어톤 발표자료 삭제
  Docs/img/0001.jpg
  Docs/img/0002.jpg
  Docs/img/0003.jpg
  Docs/img/0004.jpg
  Docs/img/0005.jpg
  Docs/img/0006.jpg
  Docs/img/0007.jpg
  Docs/img/0008.jpg
  Docs/img/0009.jpg
  Docs/img/0010.jpg
  Docs/img/0011.jpg
  Docs/img/0012.jpg
  Docs/아이디어 해커톤 대회_K-분리배출.pdf
  docs/2021 캡스톤 3조 중간발표 자료.pdf
Labels: documentation

#92 문서: 딥러닝 README 따로 옮김
  README.md
  deep_learning/README.md
Labels: deep_learning, documentation

#99 구현 : 메뉴 페이지 구성 틀 만들기
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/version.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#103 수정 : 이노버스 공식으로 key 변경
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/AppDelegate.swift
Labels: app
