Repository kookmin-sw/capstone-2021-3, pull requests merged in 2021-05, with the labels that each got.

#109 버그: 누락된 환경변수 명시
  backend/docker-compose.prod.yaml
Labels: backend

#116 구현 : 새로운 디자인 적용
  app/inobus/assets/image/hero_img.PNG
  app/inobus/assets/logo/apple_logo_icon.png
  app/inobus/assets/logo/google_logo_icon.png
  app/inobus/lib/api/json.dart
  app/inobus/lib/main.dart
  app/inobus/lib/makepage/afterLogin.dart
  app/inobus/lib/makepage/loginPage.dart
  app/inobus/lib/makepage/loginbutton.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/makepage/makebarcode.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#117 구현: 디자인 변경, 베이스 위젯 생성
  app/inobus/assets/icons/arrow.png
  app/inobus/assets/icons/bell.png
  app/inobus/assets/icons/block.png
  app/inobus/assets/icons/cart.png
  app/inobus/assets/icons/checkbox.png
  app/inobus/assets/icons/document.png
  app/inobus/assets/icons/gear.png
  app/inobus/assets/icons/graph.png
  app/inobus/assets/icons/headset.png
  app/inobus/assets/icons/home.png
  app/inobus/assets/icons/menu.png
  app/inobus/assets/icons/money.png
  app/inobus/assets/icons/pin.png
  app/inobus/assets/icons/play.png
  app/inobus/assets/icons/speech_bubble.png
  app/inobus/assets/images/apple_logo.png
  app/inobus/assets/images/drawer_seed.png
  app/inobus/assets/images/google_logo.png
  app/inobus/assets/images/hero.png
  app/inobus/lib/app_colors.dart
  app/inobus/lib/app_icons.dart
  app/inobus/lib/app_images.dart
  app/inobus/lib/app_theme.dart
  app/inobus/lib/main.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/models/route_argument.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/routes.dart
  app/inobus/lib/widgets/app_appbar.dart
  app/inobus/lib/widgets/app_drawer.dart
  app/inobus/lib/widgets/app_scaffold.dart
  app/inobus/lib/widgets/login_button.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#112 버그: 중접모델 타입, 날짜 포맷 수정
  backend/models/data.py
  backend/models/device.py
  backend/models/organization.py
  backend/models/user.py
  backend/utils/datetime.py
Labels: backend

#121 구현 : API와 연결
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/assets/test/location.json
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/device.g.dart
  app/inobus/lib/api/json.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/orgainzation.g.dart
  app/inobus/lib/app_size.dart
  app/inobus/lib/frame/home.dart
  app/inobus/lib/makepage/mainMap.dart
  app/inobus/lib/page/loading.dart
  app/inobus/lib/page/login.dart
  app/inobus/lib/page/map.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/qr.dart
  app/inobus/lib/page/rank.dart
  app/inobus/lib/page/version.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/pages/use_history_page.dart
  app/inobus/lib/routes.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#132 추가 : flutter vesrion 고정
  app/inobus/.fvm/fvm_config.json
Labels: app

#130 설정 페이지 구현
  app/inobus/lib/pages/setting_page.dart
Labels: app

#133 수정 : 버전 변화 및 flutter channel 변화로 인한 충돌 문제 해결
  app/inobus/android/gradle.properties
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#127 버그: 백엔드 uvicorn 버젼 고정
  backend/requirements/deployment.txt
Labels: backend, bug

#126 추가: mqtt 배포 스크립트 및 initialize 속성 추가
  iot/install.sh
  iot/main.py
  iot/mqtt_client.service
  iot/mqtt_setting.py
Labels: backend

#138 구현 : 구글 로그인
  app/inobus/android/app/build.gradle
  app/inobus/android/app/google-services.json
  app/inobus/android/build.gradle
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/GoogleService-Info.plist
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/main.dart
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/3_make_barcode_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/widgets/app_drawer.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#137 구현: support 페이지
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/support/faq_page.dart
  app/inobus/lib/pages/support/privacy_policy_page.dart
  app/inobus/lib/pages/support/support_page.dart
  app/inobus/lib/pages/support/terms_of_service_page.dart
  app/inobus/lib/pages/support/widgets/support_footer.dart
  app/inobus/lib/pages/support/widgets/support_title.dart
  app/inobus/lib/routes.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
  backend/docs.html
Labels: app

#143 구현: 유저가 최근 6개월간 월별 포인트 실적 조회
  backend/routes/users.py
Labels: backend

#140 버그: 하나의 데이터를 여러번 저장, 응답하지 않는 경우 발생
  backend/.env.example
  backend/common.yaml
  backend/config.py
  backend/database.py
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile.api
  backend/docs.html
  backend/gunicorn_conf.py
  backend/main.py
  backend/main_consumer.py
  backend/models/data.py
  backend/prestart-local.sh
  backend/prestart.sh
  backend/requirements/deployment.txt
  backend/requirements/development.txt
  backend/routes/mqtt.py
  backend/utils/logger.py
  iot/.env.example
  iot/README.md
  iot/config.py
  iot/iot_utils/database.py
  iot/iot_utils/logger.py
  iot/iot_utils/publisher.py
  iot/main.py
  iot/mqtt_setting.py
  iot/requirements.txt
  iot/routes/admin.py
  iot/templates/base.html
  iot/templates/dashboard.html
  iot/templates/settings.html
Labels: backend

#148 수정: image_resizer 가로 세로 다르게 줄수있게 수정.
  deep_learning/tools/image_resizer.py
Labels: deep_learning

#149 구현: inobus_v3 데이터 616 사이즈.
  deep_learning/dataset/inobus_pet_v3_616/__init__.py
  deep_learning/dataset/inobus_pet_v3_616/inobus_pet_v3_616.py
Labels: deep_learning

#150 구현: v4 데이터 (실제 하드웨어에서 찍은거) 구현
  deep_learning/dataset/inobus_pet_v4/__init__.py
  deep_learning/dataset/inobus_pet_v4/inobus_pet_v4.py
Labels: deep_learning

#151 구현: v4 데이터에서 기존에 스마트폰으로 찍은 이미지 추가한 v5 구현
  deep_learning/dataset/inobus_pet_v5/__init__.py
  deep_learning/dataset/inobus_pet_v5/inobus_pet_v5.py
Labels: deep_learning

#152 수정: 라즈베리파이 inference 속도 재는데 평균속도 추가.
  deep_learning/pi/run_inference.py
Labels: deep_learning

#153 구현: 하드웨어에서 찍은 데이터로 실험한 v4 노트북 구현.
  deep_learning/notebooks/inobus_v4.ipynb
Labels: deep_learning

#154 구현: v4 데이터에 스마트폰 이미지 추가한 데이터 노트북 구현
  deep_learning/notebooks/inobus_v5.ipynb
Labels: deep_learning

#146 이용내역 그래프 구현
  app/inobus/lib/api/device.dart
  app/inobus/lib/api/orgainzation.dart
  app/inobus/lib/api/user.dart
  app/inobus/lib/api/user.g.dart
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/use_history_page.dart
  app/inobus/lib/pages/user_history_page.dart
  app/inobus/lib/routes.dart
  app/inobus/lib/widgets/app_appbar.dart
  app/inobus/lib/widgets/app_scaffold.dart
  app/inobus/pubspec.yaml
Labels: app

#147 추첨권/포인트 페이지
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/point_page.dart
Labels: app

#144 쓰샘 기기용 REST API 구현
  backend/docs.html
  backend/main.py
  backend/models/data.py
  backend/models/device.py
  backend/models/organization.py
  backend/models/user.py
  backend/routes/devices.py
  backend/routes/organizations.py
  backend/routes/rewards.py
  backend/routes/users.py
  backend/utils/firebasedb.py
Labels: backend

#162 뒤로가기 버튼 오류 해결
  app/inobus/lib/models/auth_service.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/introduction_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/setting_page.dart
  app/inobus/lib/routes.dart
  app/inobus/pubspec.yaml
Labels: app

#165 수정 : .fvm 파일 ignore
  app/inobus/.gitignore
  app/inobus/ios/Runner/AppDelegate.swift
Labels: app

#163 구현 : 클릭 필요 없는 버튼 일반 박스로 변경
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/pages/user_history_page.dart
  app/inobus/lib/widgets/circle_box.dart
Labels: app

#168 수정: 월별 기록 API 에러 수정
  backend/docs.html
  backend/routes/users.py
Labels: backend

#169 수정: 컵투입등록 API 제거
  backend/docs.html
  backend/routes/rewards.py
Labels: backend

#164 구현 : 오픈 url 연결
  app/inobus/lib/pages/support/support_page.dart
Labels: app

#172 구현 : UI 수정
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/introduction/1_login_page.dart
  app/inobus/lib/pages/introduction/2_after_login_page.dart
  app/inobus/lib/pages/map_page.dart
  app/inobus/lib/pages/market_page.dart
  app/inobus/lib/pages/pages.dart
  app/inobus/lib/pages/point_page.dart
  app/inobus/lib/routes.dart
  app/inobus/lib/widgets/app_drawer.dart
Labels: app

#179 수정 : 에러 수정
  app/inobus/lib/pages/barcode_page.dart
  app/inobus/lib/pages/information/use_lottery.dart
  app/inobus/lib/pages/user_history_page.dart
Labels: app
