Repository kookmin-sw/capstone-2021-3, pull requests merged in 2021-03, with the labels that each got.

#18 Fix #16 .gitignore에 안 쓰는 부분 삭제, app/**/lib 충돌 해결
  .gitignore
Labels: app, bug

#38 inobus_pet_v1 노트북 구현
  deep_learning/inobus_pet_v1_classification (1).ipynb
Labels: deep_learning

#39 이노버스 데이터 사이즈 변경
  deep_learning/inobus_pet_v1/inobus_pet_v1.py
Labels: deep_learning

#36 feat: Create App frame (issue #31)
  app/inobus/android/app/build.gradle
  app/inobus/android/app/src/main/AndroidManifest.xml
  app/inobus/ios/Runner/AppDelegate.swift
  app/inobus/ios/Runner/Info.plist
  app/inobus/lib/frame/home.dart
  app/inobus/lib/main.dart
  app/inobus/lib/page/loading.dart
  app/inobus/lib/page/map.dart
  app/inobus/lib/page/menu.dart
  app/inobus/lib/page/qr.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.lock
  app/inobus/pubspec.yaml
Labels: app

#49 추가,문서: 배포관련 설정 적용
  .github/workflows/publish-backend-image.yml
  backend/.dockerignore
  backend/README.md
  backend/docker/Dockerfile
  backend/gunicorn_conf.py
  backend/main.py
  backend/requirements/deployment.txt
  backend/requirements/development.txt
Labels: backend

#46 문서: 프로젝트, 백엔드, 애플리케이션 업데이트
  README.md
  app/README.md
  app/inobus/README.md
  backend/README.md
  backend/docs.html
  backend/gunicorn_conf.py
  backend/main.py
Labels: documentation

#56 구현,문서: MongoDB 연결, docker-compose 적용
  .lefthook/pre-commit/export_docs.py
  backend/.dockerignore
  backend/README.md
  backend/database.py
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile
  backend/docs.html
  backend/envs/.env.local
  backend/main.py
  backend/prestart-local.sh
  backend/requirements/deployment.txt
  backend/requirements/development.txt
  backend/utils/get_dot_env.py
Labels: backend

#51 구현: Rank Page 구현 (issue : #40)
  app/inobus/assets/test/organizations.json
  app/inobus/lib/api/json.dart
  app/inobus/lib/page/rank.dart
  app/inobus/pubspec.yaml
Labels: app

#53 구현: 쓰샘 위치 지도에 표시 (issue: #45)
  app/inobus/assets/test/location.json
  app/inobus/lib/page/map.dart
  app/inobus/pubspec.yaml
Labels: app

#82 추가: RabbitMQ 서비스
  backend/common.yaml
  backend/docker-compose.dev.yaml
  backend/docker-compose.prod.yaml
  backend/docker/Dockerfile.api
  backend/docker/Dockerfile.rabbitmq
  backend/envs/.env.api.local
  backend/rabbitmq.conf
Labels: backend
